@import url('./reset.css');
@import url('./variaveis.css');

.pagina{
    max-width: 480px;
    background-color: var(--fundoPadrao);
    color: var(--branco);
    font-family: var(--fontePadrao);   
    padding: 10px;
}

.subPagina {
    
    width: 100%;
    margin: 0 auto;   
    border: 2px solid var(--branco);
    border-radius: 8px;
}

.container{
    padding: 10px;
    width:100%;
}